@page
@model Projekt_Jordnaer.Pages.Vagter.ShowVagtModel
@{
    ViewData["Title"] = "Alle vagter";
}
 <form method="post">
    <div class="form-group">
         <input type="submit" value="Opret ny vagt" asp-page-handler="Opret" class="btn btn-primary" style="background-color: green" />
    </div>
</form>




<h2>VagtPlan:</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Reg Nr
            </th>
            <th>
                Navn
            </th>
            <th>
                Description
            </th>
            <th>
                Vagt Start
            </th>
            <th>
                Vagt Slut
            </th>
        </tr>
    </thead>
    <tbody>
       
        @if (Model.Vagts.Count() != 0)
        {
            @foreach (var item in Model.Vagts)
            {
                <tr>
                    <td>
                        @item.VagtId
                    </td>
                    <td>
                        @item.VagtName
                    </td>
                    <td>
                        @item.VagtDescription
                    </td>
                    <td>
                        @item.VagtStart
                    </td>
                    <td>
                        @item.VagtEnd
                    </td>
                    <td> <a asp-page="DeleteVagt" asp-route-vagtId="@item.VagtId">Fjern</a></td> 
                </tr>
            }
        }
    </tbody>
</table>
