@page
@model Projekt_Jordnaer.Pages.Medlemmer.UpdateMemberModel
@{
    ViewData["Title"] = "Redigér medlem";
}

<h1>Redigér medlem</h1>

<h3>Her kan du redigére oplysningerne for et medlem</h3>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input asp-for="@Model.MemberToUpdate.MemberID" hidden class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.MemberToUpdate.Name" class="control-label"></label>
                <input asp-for="@Model.MemberToUpdate.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.MemberToUpdate.Address" class="control-label"></label>
                <input asp-for="@Model.MemberToUpdate.Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.MemberToUpdate.Email" class="control-label"></label>
                <input asp-for="@Model.MemberToUpdate.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.MemberToUpdate.PhoneNr" class="control-label"></label>
                <input asp-for="@Model.MemberToUpdate.PhoneNr" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.MemberToUpdate.Certificate" class="control-label"></label>
                <input type="checkbox" asp-for="@Model.MemberToUpdate.Certificate" value="true" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.MemberToUpdate.Admin" class="control-label"></label>
                <input type="checkbox" asp-for="@Model.MemberToUpdate.Admin" value="true" />
            </div>
            <div class="form-group">
                <input type="submit" value="Opdater" class="btn btn-primary" style="background-color: green" />
            </div>
            <div class="form-group">
                <input type="submit" value="Annuller" asp-page-handler="Cancel" class="btn btn-primary" style="background-color: red" />
            </div>
        </form>
    </div>
</div>
